body {

    background-image: url(../images/1609.m00.i125.n001.S.c12.198623492\ Topographic\ contour\ lines\ vector\ map\ seamless\ pattern.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acceuil {

    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 85%;
}

.acceuil button{
    
        color: white;
        border-radius: 10px;
        height: 60px;
        width: 100px;
        background-color: black;

}

.acceuil a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


.question {

    display: flex;
    background-image: url(../images/image-inverse.jpg);
    background-size: cover;
    height: 150px;
    width: 75%;
    margin: 20px;
}

.text_question {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.response{
    color: white;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.response button{
    width: 45%;
    height: 50px;
    background-color: black;
    color: white;
    margin: 10px;
}

.response-container{
    margin: 20px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.connected {

    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: black;
    color: white;
    width: 30%;
    margin-top: 5%;
    margin-bottom: 8%;
}

.backgroundGreen {

    background-color: green;
}

.backgroundRed {

    background-color: red;
}
    
